<div id="Transport">
    <div class="Tear_Tran tt">
        <span class="tr1">Thanh toán</span>
        <span class="tr2">Khi nhận hàng</span>
    </div>
    <div class="Tear_Tran gh">
        <span class="tr1">Giao hàng</span>
        <span class="tr2">Trên toàn quốc</span>
    </div>
    <div class="Tear_Tran dh">
        <span class="tr1">Đặt hàng online</span>
        <span class="tr2">Đơn giản - thuận tiện</span>
    </div>
    <div class="Tear_Tran gg">
        <span class="tr1">Hàng từ kho NSX</span>
        <span class="tr2">Không qua trung gian</span>
    </div>
</div>

