<div id="slide">
    <div id="contentSlide">

        <div id="myCarousel" class="carousel slide">
            <!-- Indicators -->
            <ol class="carousel-indicators">
               @Html.Raw(ViewBag.result1)
            </ol>

            <!-- Wrapper for Slides -->
            <div class="carousel-inner">
                @Html.Raw(ViewBag.result)

            </div>



        </div>
    </div>
</div>
