<div class="Tear_mn">
    <span class="Name">Danh mục sản phẩm</span>
    <span class="linemn"></span>
    <ul class="ul_1">
        @Html.Raw(ViewBag.chuoi)
    </ul>
</div>
<div class="Tear_mn mn1">
    <span class="Name2">Lọc sản phẩm</span>
    <span class="linemn"></span>
    @Html.Raw(ViewBag.chuoici)
    @Html.Raw(ViewBag.chuoiloc)
</div>

