@{
     Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}

<div id="main">
    <div class="nVar_Product">
        <nav>@Html.Raw(ViewBag.nUrl)</nav>
    </div>
    <div id="Product">
        <div id="Left_ListProduct">
            @{Html.RenderAction("partialLeftListProduct", "RightProduct");}
        </div>
        <div id="Right_ListProduct">
            <div class="nVar_Name">
                @Html.Raw(ViewBag.h1)
            </div>
            @Html.Raw(ViewBag.chuoi)
        </div>
        <div class="Clear"></div>
        <div id="Headshort">@Html.Raw(ViewBag.Headshort)</div>
    </div>
    <div class="Clear"></div>
</div>


