@{
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}

<div id="main">
    <div class="nVar_Product">
        <nav>@Html.Raw(ViewBag.nUrl)</nav>
    </div>
    <div id="Product">
       
           
            @Html.Raw(ViewBag.chuoi)
       
        <div class="Clear"></div>
        <div id="Headshort">@Html.Raw(ViewBag.Headshort)</div>
    </div>
    <div class="Clear"></div>
</div>


