<div id="OrderPopup">
    <a href="javascript:void(0)" title="" class="close_popup" onclick="close_popup()"></a>
    <table align="left" cellpadding="2">
        <tr class="top">
            <td class="Name">Tên sản phẩm</td>
            <td class="Price">Đơn giá</td>
            <td class="Ord">SL</td>
            <td class="PriceSale">Thành tiền</td>
        </tr>


        <tr>
            <td class="Name">
                <a href="" title=""><img src="iCon/binh-nong-lanh.png" /></a>
                <a href="" title="" class="Namepd">Bình nón lạnh INAX HP20</a>
                <a href="" title="" class="Delete">Xóa</a>
            </td>
            <td class="Price"><span>2.352.000 vnđ</span></td>
            <td class="Ord"><input type="number" name="Ord" id="Ord" /></td>
            <td class="PriceSale"><span>3.250.000 vnđ</span></td>
        </tr>





        <tr>
            <td class="Name">
                <a href="" title=""><img src="iCon/binh-nong-lanh.png" /></a>
                <a href="" title="" class="Namepd">Bình nón lạnh INAX HP20</a>
                <a href="" title="" class="Delete">Xóa</a>
            </td>
            <td class="Price"><span>2.352.000 vnđ</span></td>
            <td class="Ord"><input type="number" name="Ord" id="Ord" /></td>
            <td class="PriceSale"><span>3.250.000 vnđ</span></td>
        </tr>
        <tr>
            <td class="Name">
                <a href="" title=""><img src="iCon/binh-nong-lanh.png" /></a>
                <a href="" title="" class="Namepd">Bình nón lạnh INAX HP20</a>
                <a href="" title="" class="Delete">Xóa</a>
            </td>
            <td class="Price"><span>2.352.000 vnđ</span></td>
            <td class="Ord"><input type="number" name="Ord" id="Ord" /></td>
            <td class="PriceSale"><span>3.250.000 vnđ</span></td>
        </tr>
    </table>
    <div class="Sum">
        <div class="LeftSUM">
            <span>Bạn có <span>3</span> sản phẩm trong giỏ hàng</span>
        </div>
        <div class="RightSUM">
            <span class="Sum1">Tổng cộng :  3.250.000 vnđ </span>
            <span class="Sum2">Thành tiền:  3.250.000 vnđ </span>
        </div>

    </div>
    <div class="OrderNows">
        <a href="javascript:void(0)" title="" onclick="close_popup()" class="nexorder">Tiếp tục mua hàng</a>
        <a href="javascript:void(0)" title="" class="noworder">Tiến hành đặt hàng</a>

    </div>
</div>